body {
  background-color: #1b2d39;
  border: 1px solid lightgray;
  height: 90vh;

  }


.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 15vh;
}

.box {
  flex-basis: 10rem;
  width: 5rem;
  height: 5rem;
  background: rgb(27, 102, 242);
  margin: 1rem;
}

.video-box {
  width: 500px;
  height: 281px;
}
